.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.book-display-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.book-display-heading {
  align-content: center;
  align-self: center;
  font-style: italic;
  font-size: larger;
  margin: 15px;
}
.books {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
}
.book {
  width: 80%;
  background-color: yellow;
}
.title {
  font-weight: bold;
}
.authors {
  font-style: italic;
}
.input {
  margin: 5px;
}
.preview-link {
  text-decoration: none;
  color: pink;
  font-weight: bold;
  font-size: large;
}
.form-div {
  width: 100vw;

  background-color: yellow;
}
.form-div form {
  background-color: #e6e6fa;
  align-content: center;
}
.book {
  display: flex;
  float: left;
  width: 100vw;
}
.book-left-div {
  width: 20%;
  background-color: green;
  align-items: center;
  padding: 20px;
  border: 5px;
  border-style: solid;
  border-color: #ffa5a5;
}
.book-right-div {
  width: 80%;
  background-color: #e6e6fa;
  padding: 20px;
  border: 5px;
  border-style: solid;
  border-color: pink;
}
